extends layout

block content

	.wrap(ng-app='limeNote', ng-class='(status.headerOpen ? "header-open " : "") + (status.selectMode ? "select-mode " : "")')


		
		lime-header(class='cover-bg-{{info.tagIndex + 1}}')

		

		.content
			

			ng-view
