.container.wrap(ng-class='status.selectMode ? "select-mode" : ""')


	div(ng-show='data.selected.shareId', style='margin-bottom:5px;margin-left:5px')
		a(ng-href='/share/{{data.selected.shareId}}', target='_blank')
			span.glyphicon.glyphicon-globe
			| &nbsp;http://182.162.196.40/share/{{data.selected.shareId}}



	a.btn.btn-default.btn-sm(ng-href="{{$root.func.intentURL()}}")
		span.glyphicon.glyphicon-bookmark
		| 홈화면에 바로가기 추가	

	//.list-group
		a.list-group-item(ng-click='data.selected = data.user',
			ng-class='data.selected === data.user ? "active" : ""')
			| MY ({{data.user.notes.length}})
		a.list-group-item(ng-repeat='share in data.shared',
			ng-click='data.selected = share',
			ng-class='data.selected === share ? "active" : ""')
			| {{share.title}} ({{share.notes.length}})
	//br
	
	//a(ng-href='/home/{{status.myId}}', target='_blank')
		| 홈화면 추가 혹은 다른 브라우저에서 동작하도록
		
	//- 1. 퀵메뉴
	//.quick_menu

		//- 퀵메뉴(기본모드) - 추가
		div(ng-hide='status.selectMode', style='float:left')
			button.btn.btn-default.btn-sm(ng-click='modal.addNote()')
				span.glyphicon.glyphicon-plus

		//- 퀵메뉴(선택모드) - 공유, 삭제
		div(ng-show='status.selectMode', style='float:left')

			//span(ng-hide='status.selectedCount > 0')
				| 항목선택
			button.btn.btn-default.btn-sm(ng-click='modal.share()')
				span.glyphicon.glyphicon-share-alt

			//span(ng-show='true || status.selectedCount > 0')
				button.btn.btn-default.btn-sm(ng-click='modal.share()')
					span.glyphicon.glyphicon-share-alt
				button.btn.btn-default.btn-sm(ng-click='func.removeSelected()')
					span.glyphicon.glyphicon-trash

				| {{status.selectedCount}} 개가 선택됨

		//- 퀵메뉴 모드 선택
		.pull-right
			button.btn.btn-default.btn-sm(ng-click='status.selectMode = status.selectMode ? false : true')
				| {{status.selectMode ? '취소' : '선택'}}	

	

	ul.note-list(masonry='true')

		//li.note(lime-note, ng-click='modal.note()', style='opacity:0.5')

		li.note(lime-note, ng-repeat='note in data.selected.notes | filterByTag : status.filterTag | filter : data.query | orderBy : ["shared", "created"] : [true, true]', ng-attr-shared='{{note.shared}}')

	//pre
		| {{data | json}}