.container
	

	a.btn.btn-default.btn-sm(ng-href="{{func.intentURL()}}")
		span.glyphicon.glyphicon-bookmark
		| 홈화면에 바로가기 추가	

	br
	
	a(ng-href='/home/{{status.myId}}', target='_blank')
		| 홈화면 추가 혹은 다른 브라우저에서 동작하도록

	
	button.btn(ng-click='modal.addNote()') new note

	ul.note-list(masonry='true')

		li.note(lime-note, ng-repeat='note in data.notes | filterByTag : status.filterTag | filter : data.query | orderBy : ["shared", "created"] : [true, true]', ng-attr-shared='{{note.shared}}')
	//pre
		| {{status | json}}

	//pre
		| {{selected | json}}

	//pre
		| {{data.notes | json}}

