.header



	//- 1. 퀵메뉴
	.quick_menu

		//- 퀵메뉴(기본모드) - 추가
		div(ng-hide='status.selectMode', style='float:left')
			button.btn.btn-default.btn-sm(ng-click='modal.note()')
				span.glyphicon.glyphicon-plus
				| 노트 생성

		div(ng-hide='status.selectMode', style='float:left')
			button.btn.btn-default.btn-sm(ng-click='modal.share()')
				span.glyphicon.glyphicon-file
				| 공유페이지 생성



		//- 퀵메뉴(선택모드) - 공유, 삭제
		div(ng-show='status.selectMode', style='float:left')

			button.btn.btn-default.btn-sm(ng-click='modal.share()')
				span.glyphicon.glyphicon-share-alt

			//span(ng-hide='status.selectedCount > 0')
				| 항목선택



		//- 퀵메뉴 모드 선택
		//.pull-right
			button.btn.btn-default.btn-sm(ng-click='func.toggleSelectMode()')
				| {{status.selectMode ? '취소' : '선택'}}

	//- 2. 상단고정바
	.nav_bar
		
		//- 상단고정바 > 타이틀
		#m2flick(ng-class='displayTitle ? "active" : ""', style='overflow:hidden')
			.flick-container(style='height: 100%;')
				.flick-ct(ng-repeat='tag in data.panes', sstyle='background-color:rgba(0,0,0,0.5)')
					h2.title		
						span
							| {{tag.title}}



		//- 상단고정바 > 토글 버튼
		.btn_group
			a.btn_toggle(ng-click="func.toggleHeader()")
				span.sim
					| 퀵메뉴 열고 닫기

	//- 3. 상단고정바 배경의 커버 이미지
	.nav_cover
		.cover(ng-attr-style='background-image:url("{{bgImage}}")')

//- 4. 커버 영역 
.cover(ng-attr-style='background-image:url({{bgImage}})')

	//- 네비게이션 flicker
	jindo-flick(flick='')

	#mflick
		.flick-container(style='height: 100%;')
			.flick-ct(ng-repeat='tag in data.panes', sstyle='background-color:rgba(0,0,0,0.5)')
				div(style='padding:10px 15px')
					p(style='font-size:24px;')
						span.glyphicon.glyphicon-user(style='font-size:36px',
							ng-show='tag.userId')

						
						span.glyphicon.glyphicon-cloud(style='font-size:24px',
							ng-show='tag.shareId')
						| &nbsp;{{tag.title}}

						div(ng-show='tag.shareId')
							a(ng-href='http://182.162.196.40/share/{{tag.shareId}}', target='_blank',
								style='color:#000;')
								| http://182.162.196.40/share/{{tag.shareId}}


					em
						{{tag.count}}
					.thumb-list
						.thumbnail(ng-repeat='image in tag.notes | filterByImage | limitTo : 4')
							.inner(style='background-image:url({{image}})')




	//- div(style='height: 55px;background-color:yellow;position:relative;')
		carousel
			slide(ng-repeat='slide in tags')
				//img(ng-src='{{slide.image}}', style='margin: auto;')
				.carousel-caption
					h4 Slide {{$index}}
					p aaa {{slide}}				


	//select(ng-model='status.filterTag')
		option(ng-repeat='tag in tags', value='{{tag}}')
			| {{tag}}




