h1 공유받은 리스트를 타일 형태로 보는 화면

div.card(style='border:2px;width:150px;height:200px;background-color:lightYellow;border:5px solid gray;border-radius:10px;')
	strong title
	p desc
	a(ng-click='moveWithAnim($event)')
		| 이동


div.card
	div(style='border:2px;width:150px;height:200px;background-color:lightYellow;border:5px solid gray;border-radius:10px;')
		img(src='/images/bg_image_4.jpg', width='100%')
		a(ng-click='moveWithAnim($event)')
			| 이동



div.card
	div(style='border:2px;width:150px;height:200px;background-color:lightYellow;border:5px solid gray;border-radius:10px;')
		img(src='/images/bg_image_2.jpg', width='100%')
		a(ng-click='moveWithAnim($event)')
			| 이동		



div.card
	div(style='border:2px;width:150px;height:200px;background-color:lightYellow;border:5px solid gray;border-radius:10px;')
		img(src='/images/bg_image_3.jpg', width='100%')
		a(ng-click='moveWithAnim($event)')
			| 이동			


div.card
	div(style='border:2px;width:150px;height:200px;background-color:lightYellow;border:5px solid gray;border-radius:10px;')
		img(src='/images/bg_image_1.jpg', width='100%')
		a(ng-click='moveWithAnim($event)')
			| 이동			


div.card
	div(style='border:2px;width:150px;height:200px;background-color:lightYellow;border:5px solid gray;border-radius:10px;')
		img(src='/images/bg_image_5.jpg', width='100%')
		a(ng-click='moveWithAnim($event)')
			| 이동			