.modal-wrap

    .modal-header
        | JSON
        .pull-right
            button.btn.btn-default(ng-click='func.close()')
                | Close
        div(style='clear:both')

    .modal-body

        pre
            | {{ jsonData | json }}
