.main

    .top_area(style='position:fixed;top:0;left:0;width:100%;bottom:0;z-index:-1;background-image:url("https://d78fikflryjgj.cloudfront.net/images/backgrounds/2e2cb18ce229869faec815b4d8fe2770/hex.png");background-size:cover;')

    .header
        .container
            .clock
                | {{ data.now | date : 'MMMM d' }}


            
            .pull-right(style='margin-right:-5px')
                a.btn.btn-default(href='/neymar/board/edit')
                    | 게시판 만들기

    .content.container

        board-preview(ng-repeat='board in data.boards | orderBy : "created" : true' board='board')


        //.board-preview-wrap(ng-repeat='board in data.boards | orderBy : "created" : true ',
            ng-click='func.board.move(board)')
            .board-preview(style='background-color:{{ board.backgroundColor }}')
                | {{ board.title }} 
                span.badge(ng-if='board.notes.length')
                    | {{ board.notes.length }}
                hr
                small
                    | {{ board.created | date : 'yyyy.MM.dd HH:mm:ss' }}
                .pull-right
                    button.btn.btn-default(
                        ng-click='modal.json(board, $event)')
                        | JSON

                .clear

    .footer
        button.btn.btn-default(ng-click='modal.user($event)')
            span.glyphicon.glyphicon-user