.container

    .top_area(style='position:fixed;top:0;left:0;width:100%;bottom:0;z-index:-1;background-image:url("{{ data.board.backgroundImage }}");background-size:cover;')

    div(style='background-color:{{ data.board.backgroundColor }};color:#fff;margin-left:-15px;display:inline-block;padding:10px 20px 10px 15px;margin:15px 0 15px -15px;font-size:18px;border-radius:0 10px 10px 0;')
        //span.glyphicon.glyphicon-home(style='top:3px;margin-right:10px')
        a(ng-href='/neymar/board/{{ data.board.boardId }}/view', style='color:#fff')
            span.glyphicon.glyphicon-chevron-left(style='top:2px;margin-right:7px')
            | {{ data.board.title }}



    .clear
    
    div

        div.panel.panel-default(style='margin-bottom:10px')

            .panel-body


                div(ng-repeat='attached in data.note.attachment')
                    img(ng-src='{{ attached.thumbPath }}', width='100%')

                .txt(ng-show='data.note.title || data.note.note', style='padding-left:0;padding-right:0;{{ data.note.attachment.length == 0 ? "padding-top:0" : "" }}')

                    strong(ng-show='data.note.title')
                        | {{ data.note.title }} 
                    div(ng-show='data.note.note', style='white-space:pre')
                        | {{ data.note.note }} 

                

    div
        .pull-right
            button.btn.btn-default.btn-sm(ng-if='data.note.createdBy == data.myId', ng-click='func.note.remove(data.note)', style='margin-right:5px')
                | 노트 삭제
            a.btn.btn-default.btn-sm(ng-if='data.note.createdBy == data.myId', href='/neymar/board/{{ data.note.boardId }}/note/{{ data.note._id }}/edit')
                | 노트 수정