.inner(class='shared-{{note.shared}}')
	div(ng-click='modal.view(note)')

		img(ng-show='note.attachment.length > 0', ng-src='{{note.attachment[0].path}}',
			width='{{env.noteWidth}}px',
			height='{{env.noteWidth * note.attachment[0].height / note.attachment[0].width}}px')
		
		
		.txt-title(ng-show='note.title', ng-bind-html='note.title')
		.txt-note(ng-show='note.note', ng-bind-html='note.note | autoLink')





	div.link(ng-show='note.url')
		a(ng-href='{{note.url}}', target='_blank')
			span.glyphicon.glyphicon-link

	.select-mask(ng-click='func.toggleNote(note)',
		ng-class='func.selected(note) ? "selected" : ""')
		.glyphicon.glyphicon-ok-sign(ng-show='func.selected(note)')


	div.mask(ng-hide='shared')
		
		//button.btn(ng-click='share()')
			span.glyphicon.glyphicon-share-alt
		
		//button.btn(ng-click='archive(note)')
			span.glyphicon(ng-class='"glyphicon-" + (note.archived == 0 ? "inbox" : "repeat")')
		
		button.btn(ng-click='func.removeNote(note)')
			span.glyphicon.glyphicon-trash
			
		button.btn(ng-click='modal.json(note)')
			span.glyphicon.glyphicon-question-sign