$header-font: Play;
$button-font: Play;

$note-width: 230px;
$note-min-height: 140px;
$note-margin: 8px;

$border-radius: 5px;

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
    overflow-y: scroll;
}

body {
    padding: 0 !important;
    margin: 0;
    word-break: break-all;
    font-family: Nanum Gothic,AppleGothic,sans-serif;
    background-color: #ddd;
}
.navbar {
    font-family:$header-font;
}


.note-form {
    max-width: $note-width * 2 + $note-margin * 2;
    background-color: #fff;
    border-radius: $border-radius;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    .onedit {
        display: none;
    }
    input, textarea {
        resize: none;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
    }
    .btn {
        background-color: transparent;
        border: none;
        padding: 6px;
        margin: 0;
        text-align: center;
        .glyphicon {
            margin: 0;
        }
    }
    .input-group-btn {
        padding-right: 6px;
    }
    .foot {
        border-top: 1px solid #ccc;
        padding-left: 8px;
        .pull-right {
            padding-right: 6px;
        }
    }
    &.active {
        .onedit {
            display: block;
        }
        .hide-onedit {
            display: none;
        }
    }
}
.shared-mode {
    .shared-false {
        -webkit-filter:grayscale(100%);
        opacity:0.7;
    }    
}

.modal {
    overflow-y: hidden !important;
    .modal-dialog {
        outline: none;
        .modal-header {
            padding: 10px 15px;
            .modal-title {
                .glyphicon {
                    vertical-align: middle;
                    margin-right: 8px;
                    top: -1px;
                }
                font-family: $header-font;
                font-size: 14px;
            }
        }
        .modal-body {
            padding: 15px;
        }
        .modal-footer {
            padding: 15px;
            margin-top: 0;
            .btn {
                .glyphicon {
                    margin: 0 6px 0 -1px;
                    top: -1px;
                    vertical-align: middle;
                }
            }
        }
    }
}
.tm {
    font-family:$header-font;
}

.edit-view {
    input, textarea{
        border:none;
        box-shadow:none;
        font-size:14px;
    }
}
.note-list {
    padding: 0;
    margin: $note-margin $note-margin * -1;
    .note {
        padding: $note-margin;
        width: $note-width + $note-margin * 2;
        display: inline-block;
        box-sizing: border-box;
        .inner {
            border-radius: $border-radius;
            border: 1px solid silver;
            min-height: $note-min-height;
            overflow: hidden;
            background: #fff;
            position: relative;
            box-sizing: border-box;
            .txt-title {
                padding: 5px 10px;
                /*background-color: yellow;*/
                font-weight: bold;
            }
            .txt-note {
                
                white-space: pre-line;
                display:block;
                padding: 5px 10px;
                /*background-color: lightYellow;*/
            }
            .link {
                position:absolute;
                top:5px;
                left:5px;
                width:21px;
                height:22px;
                border-radius:$border-radius;
                background-color: rgba(255, 255, 255, 0.6);


                a{
                    color:#000;   
                    font-size:16px; 
                    padding:2px 2px;
                    display:inline-block;
                    cursor:pointer;
                }
                


            }
            .mask {
                opacity: 0;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.4);
                bottom: -33px;
                width: 100%;
                padding-left: 8px;
                -webkit-transition: all 0.2s linear;
                .btn {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    padding: 6px;
                    margin: 0;
                    text-align: center;
                    .glyphicon {
                        margin: 0;
                    }
                }
            }
            &:hover {
                .mask {
                    bottom: 0;
                    opacity: 1;
                }
            }
        }
    }
}

.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn {
    font-family: $button-font;
    font-size: 11pt;
    .glyphicon {
        margin-right: 5px;
        font-size: 14px;
        top: 2px;
    }
    &.btn-block {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.masonry,
.masonry .note {
    /* apply before masonry add class */
    position: absolute;
    /* important to add it before enter animation start */
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter {
    /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ng-enter,
.ng-leave.ng-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.ng-leave,
.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (min-width: 3 * ($note-width + $note-margin * 2) + 30) {
    .container {
        width: 3 * ($note-width + $note-margin * 2) + 30 - $note-margin * 2;
    }
}

@media (min-width: 4 * ($note-width + $note-margin * 2) + 30) {
    .container {
        width: 4 * ($note-width + $note-margin * 2) + 30 - $note-margin * 2;
    }
}

@media (min-width: 5 * ($note-width + $note-margin * 2) + 30) {
    .container {
        width: 5 * ($note-width + $note-margin * 2) + 30 - $note-margin * 2;
    }
}

@media (min-width: 6 * ($note-width + $note-margin * 2) + 30) {
    .container {
        width: 6 * ($note-width + $note-margin * 2) + 30 - $note-margin * 2;
    }
}