html {
  /*overflow-y: scroll;*/ }

.wrap #m2flick {
  height: 47px;
  margin-top: -47px;
  margin-right: 35px;
  -webkit-transition: opacity 1s;
  opacity: 0.01; }
  .wrap #m2flick.active {
    opacity: 1;
    visibility: visible; }
.wrap .header {
  position: fixed;
  top: -47px;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-transition: top 0.3s; }
  .wrap .header .quick_menu {
    position: relative;
    height: 47px;
    background-color: #eee;
    text-align: center;
    padding: 8px 12px; }
    .wrap .header .quick_menu .btn {
      font-weight: bold; }
  .wrap .header .nav_bar {
    position: relative;
    height: 47px;
    border: 0;
    padding: 0 20px; }
    .wrap .header .nav_bar .title {
      overflow: hidden;
      height: 47px;
      /*text-align: center;*/
      color: #fff;
      font-family: AppleSDGothicNeo-SemiBold;
      font-size: 1.214em;
      line-height: 49px; }
      .wrap .header .nav_bar .title span {
        display: -webkit-box;
        overflow: hidden;
        word-break: break-all;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        height: 47px; }
    .wrap .header .nav_bar .sim {
      display: inline-block;
      overflow: hidden;
      background: url(http://static.naver.net/blog/m/sp_im8.png) no-repeat;
      background-size: 320px 220px;
      -webkit-background-size: 320px 220px;
      color: transparent;
      width: 19px;
      height: 14px;
      vertical-align: top; }
    .wrap .header .nav_bar .btn_old_toggle {
      overflow: hidden;
      position: absolute;
      left: 5px;
      top: 1px;
      width: 19px;
      height: 14px;
      padding: 15px;
      vertical-align: top; }
      .wrap .header .nav_bar .btn_old_toggle .sim {
        background-position: -20px 0; }
    .wrap .header .nav_bar .btn_toggle .sim {
      width: 17px;
      height: 17px;
      margin: 1px -10px 0 0;
      background-position: -20px 0; }
    .wrap .header .nav_bar .btn_group {
      position: absolute;
      right: 20px;
      top: 4px; }
      .wrap .header .nav_bar .btn_group a {
        float: left;
        padding: 10px; }
  .wrap .header .nav_cover {
    margin-top: -47px;
    height: 47px;
    overflow: hidden; }
    .wrap .header .nav_cover .cover {
      position: static;
      top: 0 !important; }
  .wrap .header a {
    color: #000;
    text-decoration: none;
    cursor: pointer; }
  .wrap .header h1, .wrap .header h2, .wrap .header h3, .wrap .header h4, .wrap .header h5, .wrap .header h6, .wrap .header ul, .wrap .header ol, .wrap .header li {
    margin: 0;
    padding: 0; }
.wrap .cover {
  -webkit-transition: top 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
  height: 220px;
  background-color: #fff;
  background-image: url("http://blogimgs.naver.net/mobile/mobile_title04_l.jpg");
  background-position: top;
  background-size: cover;
  -webkit-background-size: cover; }
  .wrap .cover:before {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 94px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.35)), to(transparent));
    content: '';
    pointer-events: none; }
  .wrap .cover #mflick {
    height: 173px;
    margin-top: -47px;
    visibility: hidden; }
    .wrap .cover #mflick.active {
      visibility: visible; }
  .wrap .cover .thumb-list {
    position: absolute;
    bottom: 10px;
    right: 15px; }
    .wrap .cover .thumb-list .thumbnail {
      width: 70px;
      height: 60px;
      float: left;
      padding: 2px;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
      margin-left: 8px;
      margin-bottom: 0; }
      .wrap .cover .thumb-list .thumbnail .inner {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50% 50%; }
.wrap .content {
  -webkit-transition: margin-top 0.3s;
  margin-top: 220px;
  min-height: 220px;
  background-color: #e8e8e8;
  position: relative;
  padding-top: 10px;
  z-index: 10; }

.note-list {
  padding: 0;
  margin: 5px -5px; }
  .note-list .note {
    padding: 5px;
    width: 240px;
    width: 50%;
    display: inline-block;
    box-sizing: border-box; }
    .note-list .note .inner {
      border-radius: 5px;
      border: 1px solid silver;
      min-height: 140px;
      overflow: hidden;
      background: #fff;
      position: relative;
      box-sizing: border-box; }
      .note-list .note .inner .txt-title {
        padding: 5px 10px;
        /*background-color: yellow;*/
        font-weight: bold; }
      .note-list .note .inner .txt-note {
        white-space: pre-line;
        display: block;
        padding: 5px 10px;
        /*background-color: lightYellow;*/ }
      .note-list .note .inner .link {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 21px;
        height: 22px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.6); }
        .note-list .note .inner .link a {
          color: #000;
          font-size: 16px;
          padding: 2px 2px;
          display: inline-block;
          cursor: pointer; }
      .note-list .note .inner .select-mask {
        position: absolute;
        top: 0;
        height: 100%;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0);
        z-index: 100;
        display: none; }
        .note-list .note .inner .select-mask .glyphicon {
          position: absolute;
          display: block;
          color: blue;
          font-size: 24px;
          top: 5px;
          left: 5px;
          height: 24px;
          width: 24px; }
      .note-list .note .inner .mask {
        opacity: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.4);
        bottom: -33px;
        width: 100%;
        padding-left: 8px;
        -webkit-transition: all 0.2s linear; }
        .note-list .note .inner .mask .btn {
          background-color: transparent;
          border: none;
          color: #fff;
          padding: 6px;
          margin: 0;
          text-align: center; }
          .note-list .note .inner .mask .btn .glyphicon {
            margin: 0; }
      .note-list .note .inner:hover .mask {
        bottom: 0;
        opacity: 1; }

.modal {
  overflow-y: hidden !important; }
  .modal .modal-dialog {
    outline: none; }
    .modal .modal-dialog .modal-header {
      padding: 10px 15px; }
      .modal .modal-dialog .modal-header .modal-title {
        font-family: Play;
        font-size: 14px; }
        .modal .modal-dialog .modal-header .modal-title .glyphicon {
          vertical-align: middle;
          margin-right: 8px;
          top: -1px; }
    .modal .modal-dialog .modal-body {
      padding: 15px; }
    .modal .modal-dialog .modal-footer {
      padding: 15px;
      margin-top: 0; }
      .modal .modal-dialog .modal-footer .btn .glyphicon {
        margin: 0 6px 0 -1px;
        top: -1px;
        vertical-align: middle; }
  .modal .modal-note {
    /*input, textarea{
        border:none;
        box-shadow:none;
        font-size:14px;
    } */ }
    .modal .modal-note .input-group-sm, .modal .modal-note input.input-sm {
      margin-bottom: 10px; }
    .modal .modal-note .tm {
      font-family: Play; }

.animate-enter,
.animate-leave {
  -webkit-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all; }

.page {
  bottom: 0;
  padding-top: 200px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%; }

.page h1 {
  font-size: 60px; }

.page a {
  margin-top: 50px; }

/* PAGES (specific colors for each page)
============================================================================= */
.page-home {
  background: #00D0BC;
  color: #00907c; }

.page-about {
  background: #E59400;
  color: #a55400; }

.page-contact {
  background: #ffa6bb;
  color: #9e0000; }

 /* ANIMATIONS
============================================================================= */
/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg); }

  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out; }

  40% {
    transform: rotateZ(17deg); }

  60% {
    transform: rotateZ(16deg); }

  100% {
    transform: translateY(100%) rotateZ(17deg); } }
/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0; } }
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8); } }
/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%); }

  to {
    transform: translateX(0); } }
/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%); }

  to {
    transform: translateY(0); } }
.ng-enter {
  animation: scaleUp 0.5s both ease-in;
  z-index: 8888; }

.ng-leave {
  animation: slideOutLeft 0.5s both ease-in;
  z-index: 9999; }

/* page specific animations ------------------------ */
/* home -------------------------- */
.page-home.ng-enter {
  animation: scaleUp 0.5s both ease-in; }

.page-home.ng-leave {
  transform-origin: 0% 0%;
  animation: rotateFall 1s both ease-in; }

/* about ------------------------ */
.page-about.ng-enter {
  animation: slideInRight 0.5s both ease-in; }

.page-about.ng-leave {
  animation: slideOutLeft 0.5s both ease-in; }

/* contact ---------------------- */
.page-contact.ng-leave {
  transform-origin: 50% 50%;
  animation: rotateOutNewspaper .5s both ease-in; }

.page-contact.ng-enter {
  animation: slideInUp 0.5s both ease-in; }

.wrap.header-open .header {
  top: 0; }
.wrap.header-open .cover {
  top: 47px; }
.wrap.header-open .content {
  margin-top: 267px; }
.wrap.select-mode .note-list .note .select-mask {
  display: block; }
  .wrap.select-mode .note-list .note .select-mask.selected {
    background-color: rgba(255, 255, 255, 0.5); }
.wrap.select-mode .note-list .note .mask {
  display: none; }

/*# sourceMappingURL=lime.css.map */