@import "neymar-animate";

.board-preview-wrap {
    float: left;
    width: 50%;
    .board-preview {


    border: 1px solid silver;
    padding: 10px;
    }
}

.note-preview {
    border: 1px solid silver;
    padding: 10px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

.main {
    .header {
        background-color:yellow;
        .clock {
            font-family:Helvetica;
            font-size: 36px;
            padding:10px;
        }    
    }
    .content {
        padding:15px;
        .board-preview {
            margin:5px;
        }
    }
    
}

.board-edit {
.box {
    width:36px;height:36px;
    margin:0 8px 8px 0;
    float:left;
    border-radius:3px;
    &.selected {
        border:5px solid silver;
    }
}    
}



.footer {
    background-color: #47474b;
    text-align:center;
    padding:50px 0;
    .btn {
        border-radius:50%;
        width:44px;
        height:44px;
        padding:0;
        .glyphicon {
            font-size:22px;
        }
    }
}